[maxscale]
threads=auto
libdir=/home/markusjm/rome-demo/build/lib64/maxscale
logdir=/home/markusjm/rome-demo/build/log/maxscale/
datadir=/home/markusjm/rome-demo/build/lib/maxscale
cachedir=/home/markusjm/rome-demo/build/cache/maxscale
language=/home/markusjm/rome-demo/build/lib/maxscale/
piddir=/home/markusjm/rome-demo/build/run/maxscale/
admin_auth=false

[server1]
type=server
address=127.0.0.1
port=3000
protocol=MariaDBBackend

[server2]
type=server
address=127.0.0.1
port=3001
protocol=MariaDBBackend

[server3]
type=server
address=127.0.0.1
port=3002
protocol=MariaDBBackend

[server4]
type=server
address=127.0.0.1
port=3003
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3,server4
user=maxuser
password=maxpwd
monitor_interval=2000

[RW-Split-Router]
type=service
router=readwritesplit
servers=server1,server2,server3,server4
user=maxuser
password=maxpwd
causal_reads=true

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MariaDBClient
port=4006
