[maxscale]
threads=2

[Splitter-Service]
type=service
router=readwritesplit
servers=dbserv1,dbserv2,dbserv3,dbserv4
user=maxuser
password=password
master_failure_mode=fail_on_write
filters=MyMasking

[Splitter-Listener]
type=listener
service=Splitter-Service
protocol=mariadbclient
address=127.0.0.1
port=3306

[MyMasking]
type=filter
module=masking
warn_type_mismatch=always
large_payload=abort
rules=/etc/masking_rules.json

[dbserv1]
type=server
address=127.0.0.1
port=33061
protocol=MariaDBBackend

[dbserv2]
type=server
address=127.0.0.1
port=33062
protocol=MariaDBBackend

[dbserv3]
type=server
address=127.0.0.1
port=33063
protocol=MariaDBBackend

[dbserv4]
type=server
address=127.0.0.1
port=33064
protocol=MariaDBBackend

[TheMonitor]
type=monitor
module=mariadbmon
servers=dbserv1,dbserv2,dbserv3,dbserv4
user=maxuser
password=password
auto_failover=true
auto_rejoin=true


[CLI]
type=service
router=cli

[CLI Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default
