
#
# These groups are read by MariaDB server.
# Use it for options that only the server (but not clients) should see
#
# See the examples of server my.cnf files in /usr/share/mysql/
#
[client]
user=maxuser
password=maxpwd

# this is read by the standalone daemon and embedded servers
[server]

[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin

[mysqld1]
mysqld=/usr/sbin/mysqld
datadir=/var/lib/mysql/1/
socket=/var/lib/mysql/1/mysql.sock
pid-file=/var/run/mysqld/mysqld1.pid
binlog_format=row
binlog_row_image=full
server-id=1
log_slave_updates=1#
gtid_strict_mode=1
port=33061
user=root
session_track_system_variables=last_gtid

log-error=/var/log/mysqld1.log

# Disabling symbolic-links is recommended to prevent assorted security
# risks
symbolic-links=0

[mysqld2]
mysqld=/usr/sbin/mysqld
datadir=/var/lib/mysql/2/
socket=/var/lib/mysql/2/mysql.sock
pid-file=/var/run/mysqld/mysqld2.pid
binlog_format=row
binlog_row_image=full
server-id=2
log_slave_updates=1#
gtid_strict_mode=1
port=33062
log-error=/var/log/mysqld2.log
user=root
session_track_system_variables=last_gtid

# Disabling symbolic-links is recommended to prevent assorted security
# risks
symbolic-links=0

[mysqld3]
mysqld=/usr/sbin/mysqld
datadir=/var/lib/mysql/3/
socket=/var/lib/mysql/3/mysql.sock
pid-file=/var/run/mysqld/mysqld3.pid
binlog_format=row
binlog_row_image=full
server-id=3
log_slave_updates=1#
gtid_strict_mode=1
port=33063
log-error=/var/log/mysqld3.log
user=root
session_track_system_variables=last_gtid

# Disabling symbolic-links is recommended to prevent assorted security
# risks
symbolic-links=0

[mysqld4]
mysqld=/usr/sbin/mysqld
datadir=/var/lib/mysql/4/
socket=/var/lib/mysql/4/mysql.sock
pid-file=/var/run/mysqld/mysqld4.pid
binlog_format=row
binlog_row_image=full
server-id=4
log_slave_updates=1#
gtid_strict_mode=1
port=33064
log-error=/var/log/mysqld4.log
user=root
session_track_system_variables=last_gtid

# Disabling symbolic-links is recommended to prevent assorted security
# risks
symbolic-links=0



# this is only for the mysqld standalone daemon
[mysqld]
binlog_format=row
binlog_row_image=full
server-id=1
log-bin=/var/lib/mysql/log-bin.log
log_slave_updates=1#
gtid_strict_mode=1
port=33061

# * Galera-related settings
#
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind-address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

# this is only for embedded server
[embedded]

# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]

# This group is only read by MariaDB-10.1 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-10.1]

