[maxscale]
threads=auto
libdir=/home/markusjm/rome-demo/build/lib64/maxscale
logdir=/home/markusjm/rome-demo/build/log/maxscale/
datadir=/home/markusjm/rome-demo/build/lib/maxscale
cachedir=/home/markusjm/rome-demo/build/cache/maxscale
language=/home/markusjm/rome-demo/build/lib/maxscale/
piddir=/home/markusjm/rome-demo/build/run/maxscale/
admin_auth=false

[server1]
type=server
address=127.0.0.1
port=33061
protocol=MariaDBBackend

[server2]
type=server
address=127.0.0.1
port=33062
protocol=MariaDBBackend

[server3]
type=server
address=127.0.0.1
port=33063
protocol=MariaDBBackend

[server4]
type=server
address=127.0.0.1
port=33064
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=server1,server2,server3,server4
user=maxuser
password=maxpwd
monitor_interval=2000
# Enables automatic master failover
auto_failover=true
auto_rejoin=true
failcount=1

[RW-Split-Router]
type=service
router=readwritesplit
servers=server1,server2,server3,server4
user=maxuser
password=maxpwd
# Enables transaction replay
transaction_replay=true

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MariaDBClient
port=3306
